.DS_Store
*.bak
*.bin
*.d
*~
failed-*.png
docs/doxygen/html

/sdk/examples/chroma/chroma.sim.exe
/sdk/examples/gfxdemo/gfxdemo.sim.exe
/sdk/examples/hello/hello.sim.exe
/sdk/examples/membrane/membrane.sim.exe
/sdk/examples/nyan/nyan.sim.exe
/sdk/examples/pairing/pairing.sim.exe
/sdk/examples/sandwich/sandwichcraft.sim.exe
/sdk/examples/scroller-bg0/scroller-bg0.sim.exe
/sdk/examples/scroller-bg1/scroller-bg1.sim.exe
/sdk/examples/sensors/sensors.sim.exe
/sdk/examples/sprites/sprites.sim.exe
/sdk/examples/stars/stars.sim.exe
/sdk/examples/text/text.sim.exe
/sdk/examples/tiltshake/tiltshake.sim.exe
/df
/firmware/master/master-sim.exe