*.o
*.sim
*.stm32
assets.gen.cpp
assets.gen.h
assets.html

*.mdb
*.userprefs
*.pidb

**bin/Debug**
**bin/Release**

MapTool.exe
gen_assets.lua
gen_mapdata.h
gen_mapdata.cpp

_build
*.swf
*-app.xml
*.xcodeproj

*.pyc