*.o
*.sim
*.stm32
assets.gen.cpp
assets.gen.h
assets.html

*.mdb
*.userprefs
*.pidb

**bin/Debug**
**bin/Release**

MapTool.exe
content.gen.lua
content.gen.cpp

_build
*.swf
*-app.xml
*.xcodeproj

*.pyc