<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE AttributeServer>
<Profile Version="1.3">
    <SetupId>0</SetupId>
    <Device>nRF8001_Cx</Device>
    <Service Type="local" PrimaryService="true">
        <Name>Battery</Name>
        <Uuid>180f</Uuid>
        <Characteristic>
            <Name>Battery Level</Name>
            <Uuid>2a19</Uuid>
            <DefaultValue>00</DefaultValue>
            <UsePresentationFormat>0</UsePresentationFormat>
            <UserDescription></UserDescription>
            <MaxDataLength>1</MaxDataLength>
            <AttributeLenType>1</AttributeLenType>
            <ForceOpen>false</ForceOpen>
            <Properties>
                <WriteWithoutResponse>false</WriteWithoutResponse>
                <Write>false</Write>
                <Notify>false</Notify>
                <Indicate>false</Indicate>
                <Broadcast>false</Broadcast>
            </Properties>
            <SetPipe>false</SetPipe>
            <AckIsAuto>false</AckIsAuto>
            <PresentationFormatDescriptor Value="0000" Exponent="0" Format="1" NameSpace="01" Unit="0000"/>
            <PeriodForReadingThisCharacteristic>0</PeriodForReadingThisCharacteristic>
            <PeriodForProperties/>
        </Characteristic>
    </Service>
    <Gapsettings>
        <Name>Sifteo Base</Name>
        <DeviceNameWriteLength>0</DeviceNameWriteLength>
        <LocalPipeOnDeviceName>false</LocalPipeOnDeviceName>
        <DeviceNameShortLength>11</DeviceNameShortLength>
        <Apperance>0000</Apperance>
        <SecurityLevel>0</SecurityLevel>
        <AuthenticationReq>0</AuthenticationReq>
        <IoCapabilities>0</IoCapabilities>
        <BondTimeout>600</BondTimeout>
        <SecurityRequestDelay>0</SecurityRequestDelay>
        <MinimumKeySize>7</MinimumKeySize>
        <MaximumKeySize>16</MaximumKeySize>
        <AdvertisingDataBondedBitmap>0</AdvertisingDataBondedBitmap>
        <AdvertisingDataGeneralBitmap>0</AdvertisingDataGeneralBitmap>
        <AdvertisingDataBrodcastBitmap>0</AdvertisingDataBrodcastBitmap>
        <AdvertisingDataBondedScanResponseBitmap>0</AdvertisingDataBondedScanResponseBitmap>
        <AdvertisingDataGeneralScanResponseBitmap>0</AdvertisingDataGeneralScanResponseBitmap>
        <AdvertisingDataBrodcastScanResponseBitmap>0</AdvertisingDataBrodcastScanResponseBitmap>
        <AdvertisingDataBondedBitmapCustom>0</AdvertisingDataBondedBitmapCustom>
        <AdvertisingDataGeneralBitmapCustom>0</AdvertisingDataGeneralBitmapCustom>
        <AdvertisingDataBrodcastBitmapCustom>0</AdvertisingDataBrodcastBitmapCustom>
        <AdvertisingDataBondedScanResponseBitmapCustom>0</AdvertisingDataBondedScanResponseBitmapCustom>
        <AdvertisingDataGeneralScanResponseBitmapCustom>0</AdvertisingDataGeneralScanResponseBitmapCustom>
        <AdvertisingDataBrodcastScanResponseBitmapCustom>0</AdvertisingDataBrodcastScanResponseBitmapCustom>
        <TxPowerLevelOffset>0</TxPowerLevelOffset>
        <MinimumConnectionInterval>65535</MinimumConnectionInterval>
        <MaximumConnectionInterval>65535</MaximumConnectionInterval>
        <SlaveLatency>0</SlaveLatency>
        <TimeoutMultipler>65535</TimeoutMultipler>
        <ServiceToAdvertise>
            <Uuid>180f</Uuid>
        </ServiceToAdvertise>
        <CustomAdTypes/>
    </Gapsettings>
    <Hardwaresettings>
        <Clocksource>1</Clocksource>
        <ClockAccuracy>1</ClockAccuracy>
        <InitialTxPower>3</InitialTxPower>
        <HfClkSource>0</HfClkSource>
        <DcDcConverter>0</DcDcConverter>
        <ActiveSignalModeIndex>0</ActiveSignalModeIndex>
        <ActiveSignalToTickDistance>0</ActiveSignalToTickDistance>
        <DynamicWindowLimitingEnabled>false</DynamicWindowLimitingEnabled>
    </Hardwaresettings>
    <CurrentInput>
        <BatteryCharge>220</BatteryCharge>
        <Master32KhzClockAccuracy>10</Master32KhzClockAccuracy>
        <ConnectionInterval>1000</ConnectionInterval>
        <PercentOfTimeSleeping>0</PercentOfTimeSleeping>
        <PercentOfTimeAdvertising>0</PercentOfTimeAdvertising>
        <AdvertisingInterval>1280</AdvertisingInterval>
    </CurrentInput>
</Profile>
